.wrapper {
  width: 100vw;
}

.container {
  gap: 2rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.heading {
  color: var(--primary);
}

.primary,
.secondary {
  font-weight: 700;
  cursor: pointer;
  border-radius: 8px;
  margin-left: 10px;
  color: white;
  background: var(--primary) !important;
}

.secondary {
  background-color: white !important;
  color: var(--primary) !important;
  border: 2px solid var(--primary) !important;
}

.primary:hover {
  background-color: var(--primary-dark) !important;
}

.secondary:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
