.wrapper .dashboard {
  margin: 6rem 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrapper .dashboard .title {
  color: #9a2827;
  font-weight: 700;
  font-size: 1.4rem;
  align-self: flex-start;
}
.wrapper .dashboard .search1 {
  margin: 1rem 0 3rem 0;
  display: flex;
  align-items: center;
  gap: 2rem;
  border-radius: 8px;
  padding: 1rem 2rem;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
}
.wrapper .dashboard .search1 .input1 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  width: 100%;
  color: #333333;
  font-weight: 400;
  font-size: 1rem;
}
.wrapper .dashboard .search1 ::-moz-placeholder {
  color: #333333;
  font-weight: 400;
  font-size: 1rem;
}
.wrapper .dashboard .search1 :-ms-input-placeholder {
  color: #333333;
  font-weight: 400;
  font-size: 1rem;
}
.wrapper .dashboard .search1 ::placeholder {
  color: #333333;
  font-weight: 400;
  font-size: 1rem;
}
.wrapper .dashboard .options {
  gap: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.wrapper .dashboard .options .heading {
  color: #333333;
  font-weight: 500;
  font-size: 0.9rem;
}
.wrapper .dashboard .options .option {
  padding: 1rem;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: "row";
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}
.wrapper .dashboard .options .option .down_arr:hover {
  color: black;
}
.wrapper .dashboard .options .option .down_arr,
.wrapper .dashboard .options .option span {
  color: #666666;
  font-weight: 400;
  font-size: 0.8rem;
}
.wrapper .dashboard .options .download {
  cursor: pointer;
  justify-content: center;
  gap: 0.6rem;
}
.wrapper .dashboard .options .download span {
  color: black;
  font-weight: 500;
  font-size: 0.9rem;
}
.wrapper .dashboard .graphs {
  gap: 1rem;
  display: grid;
  margin: 2rem 0;
  grid-template-columns: auto auto;
}
.wrapper .dashboard .graphs .graph {
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  width: calc(40vw - 1rem);
  height: calc(40vw - 1rem);
}
.wrapper .dashboard .datas {
  gap: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
.wrapper .dashboard .datas .data {
  padding: 2rem 1rem;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrapper .dashboard .datas .data .data_title {
  color: #9a2827;
  font-weight: 700;
  font-size: 2.9rem;
}
.wrapper .dashboard .datas .data .data_text {
  color: #9a2827;
  font-weight: 700;
  font-size: 0.95rem;
}
.wrapper .dashboard .pub_grid {
  gap: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
}
.wrapper .dashboard .pub_grid .pub_col {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrapper .dashboard .pub_grid .pub_col .col_title {
  margin: 4rem 0 1.4rem 0;
  color: #9a2827;
  font-weight: 700;
  font-size: 1.2rem;
}
.wrapper .dashboard .pub_grid .pub_col .col_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrapper .dashboard .pub_grid .pub_col .col_content .publisher {
  width: 100%;
  display: flex;
  flex-direction: "row";
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  border-bottom: 1px solid #9a2827;
}
.wrapper .dashboard .pub_grid .pub_col .col_content .publisher:hover {
  cursor: pointer;
}
.wrapper
  .dashboard
  .pub_grid
  .pub_col
  .col_content
  .publisher:hover
  .right_arr {
  transform: translateX(10px);
  transition: all 0.3s;
}
.wrapper .dashboard .pub_grid .pub_col .col_content .publisher div {
  gap: 1rem;
  display: flex;
  flex-direction: "row";
  justify-content: space-between;
  align-items: center;
}
.wrapper .dashboard .pub_grid .pub_col .col_content .publisher div .pub_img {
  height: 3rem;
  border-radius: 50%;
}
.wrapper .dashboard .pub_grid .pub_col .col_content .publisher div .pub_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  gap: 0.4rem;
}
.wrapper
  .dashboard
  .pub_grid
  .pub_col
  .col_content
  .publisher
  div
  .pub_info
  .pub_name {
  color: #9a2827;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.3px;
}
.wrapper
  .dashboard
  .pub_grid
  .pub_col
  .col_content
  .publisher
  div
  .pub_info
  .pub_clg {
  color: black;
  font-weight: 400;
  font-size: 0.8rem;
}
.wrapper .dashboard .pub_grid .pub_col .col_content .publisher .right_arr {
  color: #9a2827;
  font-weight: 0;
  font-size: 1.2rem;
}

@media screen and (min-width: 1300px) {
  .data_title {
    font-size: 3.2rem !important;
  }
  .data_text {
    font-size: 1.1rem !important;
  }
  .publisher {
    padding: 0.5rem 2rem !important;
  }
  .publisher > div {
    gap: 1.5rem !important;
  }
}
@media screen and (min-width: 2100px) {
  .title {
    font-size: 1.6rem !important;
  }
}
@media screen and (min-width: 1700px) {
  .heading {
    font-size: 1.1rem !important;
  }
  .option {
    padding: 1rem 3rem !important;
  }
  .option span {
    letter-spacing: 0.3px;
    font-size: 0.9rem !important;
  }
  .publisher {
    padding: 0.6rem 3rem !important;
  }
  .publisher > div {
    gap: 2rem !important;
  }
  .publisher > div div {
    gap: 0.7rem !important;
  }
  .data_title {
    font-size: 4rem !important;
  }
  .data_text {
    font-size: 1.4rem !important;
  }
} /*# sourceMappingURL=Dashboard.module.css.map */
