@mixin flex-box($dir: "row") {
  display: flex;
  flex-direction: $dir;
  justify-content: space-between;
  align-items: center;
}

@mixin font($col, $fwt, $fsz) {
  color: $col;
  font-weight: $fwt;
  font-size: $fsz;
}

@mixin white-bg {
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
}

.wrapper {
  .dashboard {
    margin: 6rem 10vw;
    @include flex-box(column);

    .title {
      @include font(#9a2827, 700, 1.8rem);
      align-self: flex-start;
    }

    .search1 {
      margin: 2rem 0 3rem 0;
      display: flex;
      align-items: center;
      gap: 2rem;
      border-radius: 8px;
      padding: 1rem 2rem;
      width: 100%;
      @include white-bg();

      .input1 {
        appearance: none;
        outline: none;
        border: none;
        width: 100%;
      }

      ::placeholder {
        @include font(#333333, 400, 1rem);
      }
    }

    .options {
      gap: 1rem;
      display: grid;
      width: 100%;
      grid-template-columns: auto auto auto auto;

      .heading {
        @include font(#333333, 500, 1rem);
      }

      .option {
        padding: 1rem;
        @include white-bg();
        @include flex-box();
        border-radius: 8px;

        .down_arr:hover {
          color: black;
        }

        .down_arr,
        span {
          @include font(#666666, 400, 0.9rem);
        }
      }

      .download {
        cursor: pointer;
        justify-content: center;
        gap: 1.4rem;

        span {
          @include font(black, 500, 0.9rem);
        }
      }
    }

    .graphs {
      gap: 1rem;
      display: grid;
      width: 100%;
      margin: 2rem 0;
      grid-template-columns: auto auto;

      .graph {
        border-radius: 16px;
        width: 38vw;
        @include white-bg();
        height: 38vw;
      }
    }

    .datas {
      display: grid;
      width: 100%;
      gap: 1rem;
      grid-template-columns: auto auto auto auto auto;

      .data {
        padding: 2rem 1rem;
        @include white-bg();
        border-radius: 16px;
        @include flex-box(column);

        .data_title {
          @include font(#9a2827, 700, 4rem);
        }

        .data_text {
          @include font(#9a2827, 700, 1.25rem);
        }
      }
    }

    .pub_grid {
      gap: 2rem;
      display: grid;
      width: 100%;
      grid-template-columns: auto auto;

      .pub_col {
        width: 100%;
        @include flex-box(column);

        .col_title {
          margin: 4rem 0 2rem 0;
          @include font(#9a2827, 700, 1.4rem);
        }

        .col_content {
          width: 100%;
          @include flex-box(column);

          .publisher {
            width: 100%;
            border-bottom: 1px solid #9a2827;
            @include flex-box();
            padding: 0.4rem 2rem;

            div {
              @include flex-box();
              gap: 1rem;

              .pub_img {
                height: 3rem;
                width: 3rem;
                border-radius: 100%;
              }

              .pub_info {
                @include flex-box(column);
                align-items: flex-start;
                gap: 0.3rem;

                .pub_name {
                  @include font(#9a2827, 600, 1rem);
                }

                .pub_clg {
                  @include font(black, 400, 0.8rem);
                }
              }
            }

            .right_arr {
              @include font(#9a2827, 0, 1.25rem);
            }
          }
        }
      }
    }
  }
}
