@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

a,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #9a2827;
}

::-webkit-scrollbar-thumb:hover {
  cursor: grab;
  cursor: -webkit-grab;
  background: #ce1c19;
}

.ant-menu-submenu:after,
.ant-menu-submenu-active:after,
.ant-menu-item::after,
.ant-menu-item:hover::after {
  border: none !important;
}

.ant-menu-item:hover,
.ant-menu-submenu-title:hover {
  color: rgb(227, 222, 222) !important;
}

.ant-menu-item a:hover,
.ant-menu-item-selected {
  color: black !important;
}

.ant-table-thead .ant-table-cell {
  background-color: #9a2827 !important;
  color: white !important;
  text-align: center !important;
  
}
