@mixin flex-box($dir: "row") {
  display: flex;
  flex-direction: $dir;
  justify-content: space-between;
  align-items: center;
}

@mixin font($col, $fwt, $fsz) {
  color: $col;
  font-weight: $fwt;
  font-size: $fsz;
}

@mixin white-bg {
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.wrapper {
  .mgmt_wrapper {
    position: relative;
    min-height: 100vh;
    padding: 6rem 10vw;

    .title {
      @include font(#9a2827, 600, 1.4rem);
    }

    .options {
      gap: 1rem;
      width: 100%;
      display: grid;
      margin-top: 2rem;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      .heading {
        @include font(#333333, 500, 0.9rem);
      }

      .option {
        padding: 1rem;
        @include white-bg();
        @include flex-box();
        border-radius: 8px;

        .down_arr:hover {
          color: black;
        }

        .down_arr,
        span {
          @include font(#666666, 400, 0.8rem);
        }
      }

      .download {
        cursor: pointer;
        justify-content: center;
        gap: 0.6rem;

        span {
          @include font(black, 500, 0.9rem);
        }
      }
    }

    .form {
      gap: 2rem;
      margin: 3rem 0 2rem 0;
      @include flex-box();
      width: max-content;

      label {
        gap: 0.6rem;
        @include flex-box();
        width: max-content;

        img {
          height: 1.1rem;
        }

        input {
          display: none;
        }

        span {
          @include font(#333333, 400, 1rem);
        }
      }
    }

    .profile_table {
      border-spacing: 0;
      margin-left: -5vw;
      width: 90vw;

      th,
      td {
        padding: 0.5rem 0;

        &:nth-child(5n + 1) {
          width: 45vw;
        }
      }

      .profile_thead {
        background-color: #9a2827;
        border-radius: 16px;
        @include font(white, 600, 0.85rem);

        th {
          text-align: center;
          cursor: default;

          &:nth-child(1) {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
          }

          &:nth-child(5) {
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
          }
        }

        img {
          margin-left: 0.3rem;
          height: 0.7rem;
        }
      }

      td {
        &:not(:nth-child(5n + 1)) {
          text-align: center;
          @include font(black, 500, 1rem);
        }

        &:nth-child(5n + 1) {
          @include flex-box(column);
          align-items: flex-start;
          gap: 0.4rem;

          span:nth-child(4n + 1) {
            @include font(black, 600, 1rem);
          }
          span:nth-child(4n + 2),
          span:nth-child(4n + 3) {
            @include font(black, 400, 0.8rem);
          }
          span:nth-child(4n) {
            @include font(#9a2827, 600, 0.8rem);

            &.true {
              display: block;
            }
            &.false {
              display: none;
            }
          }
        }
      }
    }

    .footer {
      width: 100vw;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0.4rem 0;
      text-align: center;
      background: #9a2827;
      color: white;
      font-weight: 700;
      font-size: 1rem;
    }
  }
}

@media screen and (min-width: 1500px) {
  .profile_thead img {
    margin-left: 0.5rem !important;
  }
}

@media screen and (min-width: 1700px) {
  .heading {
    font-size: 1.1rem !important;
  }

  .option {
    padding: 1rem 3rem !important;

    span {
      letter-spacing: 0.3px;
      font-size: 0.9rem !important;
    }
  }
}

@media screen and (min-width: 2100px) {
  .title {
    font-size: 1.6rem !important;
  }
}
