.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: "row";
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../public/login-bg.png") no-repeat;
  background-size: cover;
}

.main .welcome {
  width: 85vw;
  height: 50vh;
  display: flex;
  flex-direction: "row";
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(
      153.54deg,
      rgba(255, 255, 255, 0.5) 1.04%,
      rgba(255, 255, 255, 0.25) 100%
    );
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.main .welcome .greeting {
  color: white;
  width: 50vw;
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  align-items: flex-start;
}

.main .welcome .greeting .title {
  color: white;
  font-weight: 800;
  font-size: 3.6rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
}

.main .welcome .greeting .content {
  color: white;
  font-weight: 700;
  font-size: 1.8rem;
}

.main .welcome .login {
  background-color: white;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
  width: 25vw;
  min-height: 60vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 3rem 0;
  border-radius: 16px;
}

.main .welcome .login .logo {
  height: 2rem;
}

.main .welcome .login .button {
  background: white;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 2rem;
}

.main .welcome .login .button * {
  border: 0;
}

.main .welcome .login .login_top {
  color: #9a2827;
  font-weight: 700;
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.main .welcome .login .login_middle {
  width: 80%;
  color: #333333;
  font-weight: 400;
  font-size: 1rem;
}

.main .welcome .login .login_bottom {
  color: #333333;
  font-weight: 400;
  font-size: 0.8rem;
}

.main .welcome .login .login_bottom a {
  color: #9a2827;
  font-weight: 400;
  font-size: 0.8rem;
  text-decoration: underline;
}

.main .footer {
  position: absolute;
  padding: 0.7rem;
  width: 100vw;
  bottom: 0;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.25) 100%
    );
}

@media screen and (min-height: 1000px) {
  .welcome {
    height: 40vh !important;
  }

  .main .login {
    min-height: 40vh !important;
    width: 30vw !important;
    padding: 7rem 1rem !important;
  }
}

@media screen and (min-width: 1400px) {
  .login {
    padding: 5rem 1rem !important;
    width: 30vw !important;
  }
}

@media screen and (min-width: 1700px) {
  .main .login {
    border-radius: 30px !important;
    min-height: 55vh !important;
    padding: 6rem 2rem !important;
  }

  .main .login .logo {
    height: 2.5rem !important;
  }

  .main .login .login_top {
    font-size: 2rem !important;
  }

  .main .login .login_middle {
    font-size: 1.1rem !important;
  }

  .main .login .button span {
    font-size: 1.1rem !important;
  }

  .main .login .login_bottom {
    font-size: 0.9rem !important;
  }

  .welcome .title {
    font-size: 4.2rem !important;
  }

  .welcome .content {
    font-size: 2.2rem !important;
  }
}

@media screen and (min-width: 1700px) {
  .main .login {
    border-radius: 30px !important;
    min-height: 55vh !important;
    padding: 6rem 2rem !important;
  }

  .main .login .logo {
    height: 2.5rem !important;
  }

  .main .login .login_top {
    font-size: 2rem !important;
  }

  .main .login .login_middle {
    font-size: 1.1rem !important;
  }

  .main .login .button span {
    font-size: 1.1rem !important;
  }

  .main .login .login_bottom {
    font-size: 0.9rem !important;
  }

  .welcome .title {
    font-size: 4.2rem !important;
  }

  .welcome .content {
    font-size: 2.2rem !important;
  }
}

@media screen and (min-width: 2100px) {
  .main .login {
    min-height: 50vh !important;
    width: 28vw !important;
    padding: 8rem 4rem !important;
  }

  .main .login .logo {
    height: 3rem !important;
  }

  .main .login .login_top {
    font-size: 2.1rem !important;
  }

  .main .login .login_middle {
    font-size: 1.25rem !important;
  }

  .main .login .button {
    padding: 1.5rem 2.5rem !important;
  }

  .main .login .button span {
    font-size: 1.2rem !important;
  }

  .main .login .login_bottom {
    font-size: 1rem !important;
  }

  .welcome {
    padding-left: 5rem !important;
    height: 34vh !important;
  }

  .welcome .title {
    font-size: 4.2rem !important;
  }

  .welcome .content {
    font-size: 2.4rem !important;
    width: 40vw !important;
  }
}

@media screen and (max-width: 1400px) {
  .login {
    width: 28vw !important;
    padding: 3.5rem 1rem !important;
  }
}

@media screen and (max-width: 1200px) {
  .welcome {
    width: 95vw !important;
  }

  .welcome .title {
    font-size: 3rem !important;
  }

  .welcome .content {
    font-size: 1.4rem !important;
  }

  .login {
    width: 34vw !important;
  }
}
/*# sourceMappingURL=login.module.css.map */
