@mixin flex-box($dir: "row") {
  display: flex;
  flex-direction: $dir;
  justify-content: space-between;
  align-items: center;
}

@mixin font($col, $fwt, $fsz) {
  color: $col;
  font-weight: $fwt;
  font-size: $fsz;
}

.main {
  width: 100vw;
  height: 100vh;
  @include flex-box();
  justify-content: flex-start;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../public/login-bg.png") no-repeat;
  background-size: cover;

  .welcome {
    width: 85vw;
    height: 50vh;
    @include flex-box();

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      linear-gradient(
        153.54deg,
        rgba(255, 255, 255, 0.5) 1.04%,
        rgba(255, 255, 255, 0.25) 100%
      );
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);

    .greeting {
      color: white;
      width: 50vw;
      padding-left: 3rem;
      @include flex-box(column);
      gap: 1rem;
      align-items: flex-start;

      .title {
        @include font(white, 800, 3.6rem);
        width: max-content;
        text-align: center;
      }

      .content {
        @include font(white, 700, 1.8rem);
      }
    }

    .login {
      background-color: white;
      box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
      width: 25vw;
      height: 60vh;
      text-align: center;
      @include flex-box(column);
      gap: 1rem;
      padding: 2rem 0;
      border-radius: 16px;

      .logo {
        height: 2rem;
      }

      .button {
        @include flex-box();
        justify-content: center;
        background: white;
        cursor: pointer;
        border: none;
        padding: 1rem 2rem;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        gap: 1rem;
        margin-top: 2rem;

        img {
          height: 1.5rem;
        }

        span {
          @include font(#333333, 500, 1rem);
        }
      }

      .login_top {
        @include font(#9a2827, 700, 1.7rem);
      }

      .login_middle {
        width: 80%;
        @include font(#333333, 400, 1rem);
      }

      .login_bottom {
        @include font(#333333, 400, 0.8rem);

        a {
          @include font(#9a2827, 400, 0.8rem);
          text-decoration: underline;
        }
      }
    }
  }

  .footer {
    position: absolute;
    padding: 0.7rem;
    width: 100vw;
    bottom: 0;
    text-align: center;
    @include font(white, 700, 1.2rem);

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0.25) 100%
      );
  }
}

@media screen and (min-width: 1400px) {
  .login {
    padding: 5rem 1rem !important;
  }
}

@media screen and (min-width: 1700px) {
  .login {
    padding: 8rem 1rem !important;
  }

  .title {
    font-size: 4.3rem !important;
  }

  .content {
    font-size: 2.2rem !important;
  }
}

@media screen and (min-height: 1200px) {
  .welcome {
    height: 40vh !important;
  }

  .login {
    padding: 10rem 1rem !important;
    height: 50vh !important;
  }
}

@media screen and (min-width: 2100px) {
  .login {
    padding: 12rem 1rem !important;
  }

  .logo {
    height: 3rem !important;
  }

  .login_middle,
  .login_bottom {
    font-size: 1.25rem !important;
  }

  .greeting {
    padding-left: 8rem !important;
  }

  .title {
    font-size: 4.5rem !important;
    margin-bottom: 3rem !important;
  }

  .content {
    font-size: 2.4rem !important;
    width: 90%;
  }
}
