@mixin flex-box($dir: "row") {
  display: flex;
  flex-direction: $dir;
  justify-content: space-between;
  align-items: center;
}

@mixin font($col, $fwt, $fsz) {
  color: $col;
  font-weight: $fwt;
  font-size: $fsz;
}

@mixin white-bg {
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
}

.wrapper {
  .mgmt_wrapper {
    gap: 2rem;
    position: relative;
    min-height: 100vh;
    padding: 6rem 10vw;

    .profile_section {
      @include flex-box();
      align-items: stretch;
      gap: 1rem;

      .profile_grid {
        gap: 1.5rem;
        width: 80vw;
        display: grid;
        margin-bottom: 3rem;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

        .profile_personal {
          grid-column: 1 / span 6;
          grid-row: 1 / span 3;
          @include white-bg();
          @include flex-box();
          justify-content: center;
          gap: 2rem;

          .profile_img {
            height: 7rem;
          }

          .profile_text {
            @include font(#333333, 400, 1rem);

            .profile_name {
              @include font(#9a2827, 700, 1.2rem);
              letter-spacing: 0.3px;
              margin-bottom: 0.8rem;
            }

            .profile_edit {
              cursor: pointer;
              margin-top: 1.6rem;
              @include font(#9a2827, 600, 0.8rem);
            }
          }
        }

        .profile_btn1,
        .profile_btn2 {
          width: 80%;
          justify-self: center;
          grid-column: 1 / span 3;
          cursor: pointer;
          border-radius: 8px;
          background-color: #9a2827;
          @include font(white, 700, 1.1rem);
          @include flex-box();
          justify-content: center;
        }

        .profile_btn2 {
          grid-column: 4 / span 3;
        }

        .search {
          gap: 0.6rem;
          width: 100%;
          display: flex;
          align-items: center;
          border-radius: 8px;
          padding: 1rem 2rem;
          grid-column: 7 / span 4;
          @include white-bg();

          .input {
            appearance: none;
            outline: none;
            border: none;
            width: 100%;
            @include font(#333333, 400, 0.8rem);
          }

          ::placeholder {
            @include font(#333333, 400, 0.8rem);
          }
        }

        .profile_scroll {
          @include flex-box(column);
          @include white-bg();
          padding: 1rem 1.5rem;
          grid-column: 7 / span 4;
          grid-row: 2 / span 3;

          .profile_scrolltop {
            @include font(#9a2827, 700, 1.2rem);
            margin-bottom: -100%;
          }

          .profile_scrollbody {
            gap: 0.4rem;
            max-height: 65%;
            width: 90%;
            @include flex-box(column);
            overflow-y: scroll;
            
            .profile_scrollitem {
                gap: 0.1rem;
              @include flex-box(column);
              align-items: flex-start;

              .profile_scrollevent {
                @include font(black, 600, 0.9rem);
              }

              .profile_scrolltime {
                @include font(#333333, 400, 0.8rem);
              }
            }
          }
        }
      }
    }

    .options {
      gap: 1rem;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      .heading {
        @include font(#333333, 500, 0.9rem);
      }

      .option {
        padding: 1rem;
        @include white-bg();
        @include flex-box();
        border-radius: 8px;

        .down_arr:hover {
          color: black;
        }

        .down_arr,
        span {
          @include font(#666666, 400, 0.8rem);
        }
      }

      .download {
        cursor: pointer;
        justify-content: center;
        gap: 0.6rem;

        span {
          @include font(black, 500, 0.9rem);
        }
      }
    }

    .graphs {
      gap: 1rem;
      display: grid;
      margin: 2rem 0;
      grid-template-columns: auto auto;

      .graph {
        border-radius: 16px;
        @include white-bg();
        width: calc(40vw - 1rem);
        height: calc(40vw - 1rem);
      }
    }

    .datas {
      gap: 1rem;
      width: 100%;
      display: grid;
      grid-template-columns: auto auto auto auto auto;

      .data {
        padding: 2rem 1rem;
        @include white-bg();
        border-radius: 16px;
        @include flex-box(column);

        .data_title {
          @include font(#9a2827, 700, 2.9rem);
        }

        .data_text {
          @include font(#9a2827, 700, 0.95rem);
        }
      }
    }

    .pub_grid {
      gap: 2rem;
      width: 100%;
      display: grid;
      grid-template-columns: auto auto;

      .pub_col {
        width: 100%;
        @include flex-box(column);

        .col_title {
          margin: 4rem 0 1.4rem 0;
          @include font(#9a2827, 700, 1.2rem);
        }

        .col_content {
          width: 100%;
          @include flex-box(column);

          .publisher {
            width: 100%;
            @include flex-box();
            padding: 0.5rem 1.5rem;
            border-bottom: 1px solid #9a2827;

            &:hover {
              cursor: pointer;

              .right_arr {
                transform: translateX(10px);
                transition: all 0.3s;
              }
            }

            div {
              gap: 1rem;
              @include flex-box();

              .pub_img {
                height: 3rem;
                border-radius: 50%;
              }

              .pub_info {
                @include flex-box(column);
                align-items: flex-start;
                gap: 0.4rem;

                .pub_name {
                  @include font(#9a2827, 600, 1rem);
                  letter-spacing: 0.3px;
                }

                .pub_clg {
                  @include font(black, 400, 0.8rem);
                }
              }
            }

            .right_arr {
              @include font(#9a2827, 0, 1.2rem);
            }
          }
        }
      }
    }

    .footer {
      width: 100vw;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0.4rem 0;
      text-align: center;
      background: #9a2827;
      color: white;
      font-weight: 700;
      font-size: 1rem;
    }
  }
}

@media screen and (min-width: 1300px) {
  .data_title {
    font-size: 3.2rem !important;
  }

  .data_text {
    font-size: 1.1rem !important;
  }

  .publisher {
    padding: 0.5rem 2rem !important;

    & > div {
      gap: 1.5rem !important;
    }
  }
}

@media screen and (min-width: 1500px) {
  .profile_personal {
    width: 80%;
    justify-self: center;
  }

  .profile_btn1,
  .profile_btn2 {
    width: 70% !important;
    justify-self: end !important;
  }

  .profile_btn2{
    justify-self: start !important;
  }
}

@media screen and (min-width: 1700px) {
  .heading {
    font-size: 1.1rem !important;
  }

  .profile_btn1,
  .profile_btn2 {
    width: 65% !important;
  }

  .option {
    padding: 1rem 3rem !important;

    span {
      letter-spacing: 0.3px;
      font-size: 0.9rem !important;
    }
  }

  .publisher {
    padding: 0.6rem 3rem !important;
    & > div {
      gap: 2rem !important;

      div {
        gap: 0.7rem !important;
      }
    }
  }

  .data_title {
    font-size: 4rem !important;
  }

  .data_text {
    font-size: 1.4rem !important;
  }

  .profile_personal {
    width: 70% !important;
  }
}

@media screen and (min-width: 2100px) {
  .profile_personal {
    width: 60% !important;
  }

  .profile_btn1,
  .profile_btn2 {
    width: 45% !important;
  }
}
