.navbar {
  top: 0;
  left: 0;
  z-index: 101;
  width: 100vw;
  position: absolute;
  padding: 0.5rem 10vw;
  display: flex;
  flex-direction: "row";
  justify-content: space-between;
  align-items: center;
  background-color: #9a2827;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
}

.navbar .nav_left,
.navbar .nav_right {
  display: flex;
  flex-direction: "row";
  justify-content: space-between;
  align-items: center;
}

.navbar .nav_left div,
.navbar .nav_right div {
  cursor: pointer;
}

.navbar .nav_left div:hover,
.navbar .nav_right div:hover {
  color: rgb(227, 222, 222);
}

.navbar .nav_right {
  gap: 3rem;
}

.navbar .nav_right .nav_btn {
  border: 1.6px solid white;
  border-radius: 8px;
  padding: 0.4rem 1.4rem;
}

.navbar .nav_right .nav_btn:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.08);
}

@media screen and (max-width: 1050px) {
  .navbar {
    font-size: 1rem !important;
  }
}

@media screen and (min-width: 1599px) {
  .navbar {
    font-size: 1.2rem !important;
    padding: 0.6rem 10vw !important;
  }
}