@mixin flex-box($dir: "row") {
  display: flex;
  flex-direction: $dir;
  justify-content: space-between;
  align-items: center;
}

@mixin font($col, $fwt, $fsz) {
  color: $col;
  font-weight: $fwt;
  font-size: $fsz;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem 10vw;
  width: 100vw;
  @include flex-box();
  background-color: #9a2827;
  @include font(white, 600, 1.1rem);

  .nav_left,
  .nav_right {
    @include flex-box();

    div {
      cursor: pointer;

      &:hover {
        color: rgb(227, 222, 222);
      }
    }
  }

  .nav_right {
    gap: 3rem;

    .nav_btn {
      border: 1.6px solid white;
      border-radius: 8px;
      padding: 0.4rem 1.4rem;

      &:hover {
        color: white;
        background-color: rgba($color: white, $alpha: 0.08);
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .navbar {
    font-size: 1rem !important;
  }
}

@media screen and (min-width: 1599px) {
  .navbar {
    font-size: 1.2rem !important;
    padding: 0.6rem 10vw !important;
  }
}
