.wrapper .profile_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  min-height: 100vh;
  position: relative;
  padding: 6rem 10vw 1rem 10vw;
}

.wrapper .profile_wrapper .profile_section {
  display: flex;
  flex-direction: "row";
  justify-content: space-between;
  align-items: center;
  align-items: stretch;
  gap: 1rem;
}

.wrapper .profile_wrapper .profile_section .profile_grid {
  gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.wrapper .profile_wrapper .profile_section .profile_grid .profile_personal {
  grid-column: 1 / span 2;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  display: flex;
  flex-direction: "row";
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  gap: 1rem;
}

.img_wrapper {
  position: relative;
  margin-right: 1rem;
  height: 8rem;
  width: 8rem;
}

.img_wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  padding: 1.4rem;
}

.img_border1,
.img_border2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 0.7rem;
  fill: none;
  stroke: #9a2827;
  stroke-width: 6;
  stroke-linecap: round;
}

.img_border2 {
  stroke-width: 5;
  stroke: #7e1918;
  padding: 0;
  transform: rotate(180deg);
}

.wrapper
  .profile_wrapper
  .profile_section
  .profile_grid
  .profile_personal
  .profile_text {
  width: 20vw;
  color: #333333;
  font-weight: 400;
  font-size: 0.9rem;
}

.wrapper
  .profile_wrapper
  .profile_section
  .profile_grid
  .profile_personal
  .profile_text
  .profile_name {
  color: #9a2827;
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.wrapper
  .profile_wrapper
  .profile_section
  .profile_grid
  .profile_personal
  .profile_text
  .profile_post {
  text-transform: capitalize;
}

.wrapper
  .profile_wrapper
  .profile_section
  .profile_grid
  .profile_personal
  .profile_text
  .profile_edit {
  margin-top: 0.5rem;
  width: max-content;
  cursor: pointer;
  color: #9a2827;
  font-weight: 700;
  font-size: 0.8rem;
  text-decoration: underline;
}

.wrapper
  .profile_wrapper
  .profile_section
  .profile_grid
  .profile_personal
  .profile_text
  .profile_edit:hover {
  color: red;
  text-decoration: none;
}

.wrapper .profile_wrapper .profile_section .profile_grid .profile_btn {
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  border-radius: 8px;
  text-align: center;
  background-color: #9a2827;
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
}

.wrapper .profile_wrapper .profile_section .profile_grid .profile_btn:hover {
  background-color: #7e1918;
}

.wrapper .profile_wrapper .profile_section .profile_feats {
  gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.wrapper .profile_wrapper .profile_section .profile_feats .profile_feat {
  display: flex;
  grid-column: span 2;
  justify-content: space-between;
  font-size: 0.95rem;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  color: #9a2827;
  font-weight: 700;
  padding: 0 2rem;
  align-items: center;
  justify-content: center;
  min-width: max-content;
}

.wrapper .profile_wrapper .profile_section .profile_feats .profile_feat:hover {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.3);
}

.wrapper .profile_wrapper .profile_box .profile_head {
  color: #9a2827;
  font-weight: 700;
  font-size: 1.2rem;
  margin: 2rem 0 1rem 0;
}

.wrapper .profile_wrapper .profile_box .profile_bodygrid {
  display: grid;
  width: 80vw;
  gap: 1rem;
  grid-template-columns: auto auto;
}

.wrapper .profile_wrapper .profile_box .profile_bodygrid .profile_body {
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1rem 2rem;
}

.wrapper
  .profile_wrapper
  .profile_box
  .profile_bodygrid
  .profile_body
  .profile_topic {
  color: black;
  font-weight: 700;
  font-size: 1rem;
}

.wrapper
  .profile_wrapper
  .profile_box
  .profile_bodygrid
  .profile_body
  .profile_time {
  color: #333333;
  font-weight: 400;
  font-size: 0.8rem;
}

.wrapper .profile_wrapper .footer {
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.4rem 0;
  text-align: center;
  background: #9a2827;
  color: white;
  font-weight: 700;
  font-size: 1rem;
}

.foot {
  position: absolute;
  left: 50vw;
  bottom: 0.8rem;
}

.btn_div {
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 5px;
  text-align: center;
  background-color: #9a2827;
  color: white;
  font-weight: 700;
}

.btn_div:hover {
  background-color: #7e1918;
}

@media screen and (min-width: 1500px) {
  .img_wrapper img {
    margin-right: 1rem !important;
  }
}
