.wrapper .profile_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  min-height: 100vh;
  position: relative;
  padding: 6rem 10vw;
}

.wrapper .profile_wrapper .profile_section {
  display: flex;
  flex-direction: "row";
  justify-content: space-between;
  align-items: center;
  align-items: stretch;
  gap: 1rem;
}

.wrapper .profile_wrapper .profile_section .profile_grid {
  gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.wrapper .profile_wrapper .profile_section .profile_grid .profile_personal {
  grid-column: 1 / span 2;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  display: flex;
  flex-direction: "row";
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  gap: 1rem;
}

.img_wrapper {
  position: relative;
  height: 8rem;
  width: 8rem;
}

.profile_img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  padding: 1.4rem;
  height: 100%;
}

.img_border1,
.img_border2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 0.7rem;
  fill: none;
  stroke: #9a2827;
  stroke-width: 6;
  stroke-linecap: round;
}

.img_border2 {
  stroke-width: 5;
  stroke: #7e1918;
  padding: 0;
  transform: rotate(180deg);
}

.wrapper
  .profile_wrapper
  .profile_section
  .profile_grid
  .profile_personal
  .profile_text {
  width: 20vw;
  color: #333333;
  font-weight: 400;
  font-size: 0.9rem;
}

.wrapper
  .profile_wrapper
  .profile_section
  .profile_grid
  .profile_personal
  .profile_text
  .profile_name {
  color: #9a2827;
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.wrapper
  .profile_wrapper
  .profile_section
  .profile_grid
  .profile_personal
  .profile_text
  .profile_post {
  text-transform: capitalize;
}

.wrapper
  .profile_wrapper
  .profile_section
  .profile_grid
  .profile_personal
  .profile_text
  .profile_edit {
  margin-top: 0.5rem;
  width: max-content;
  cursor: pointer;
  color: #9a2827;
  font-weight: 700;
  font-size: 0.8rem;
  text-decoration: underline;
}

.wrapper
  .profile_wrapper
  .profile_section
  .profile_grid
  .profile_personal
  .profile_text
  .profile_edit:hover {
  color: red;
  text-decoration: none;
}

.wrapper .profile_wrapper .profile_section .profile_grid .profile_btn {
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  border-radius: 8px;
  text-align: center;
  background-color: #9a2827;
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
}

.wrapper .profile_wrapper .profile_section .profile_grid .profile_btn:hover {
  background-color: #7e1918;
}

.wrapper .profile_wrapper .profile_section .profile_feats {
  gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.wrapper .profile_wrapper .profile_section .profile_feats .profile_feat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.95rem;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  color: #9a2827;
  font-weight: 700;
  padding: 0 2rem;
  align-items: center;
  justify-content: center;
}

.wrapper .profile_wrapper .profile_section .profile_feats .profile_feat:hover {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.3);
}

.feat_top{
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.wrapper .profile_wrapper .profile_box .profile_head {
  color: #9a2827;
  font-weight: 700;
  font-size: 1.2rem;
  margin: 2rem 0 1rem 0;
}

.wrapper .profile_wrapper .profile_box .profile_bodygrid {
  display: grid;
  width: 80vw;
  gap: 1rem;
  grid-template-columns: auto auto;
}

.wrapper .profile_wrapper .profile_box .profile_bodygrid .profile_body {
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1rem 2rem;
}

.wrapper
  .profile_wrapper
  .profile_box
  .profile_bodygrid
  .profile_body
  .profile_topic {
  color: black;
  font-weight: 700;
  font-size: 1rem;
}

.wrapper
  .profile_wrapper
  .profile_box
  .profile_bodygrid
  .profile_body
  .profile_time {
  color: #333333;
  font-weight: 400;
  font-size: 0.8rem;
}

.wrapper .profile_wrapper .profile_box .profile_table {
  border-spacing: 0;
  width: 90vw;
}

.wrapper .profile_wrapper .profile_box .profile_table th,
.wrapper .profile_wrapper .profile_box .profile_table td {
  padding: 0.5rem 0;
}

.wrapper .profile_wrapper .profile_box .profile_table th:nth-child(7n + 1),
.wrapper .profile_wrapper .profile_box .profile_table td:nth-child(7n + 1) {
  width: 35vw;
}

.wrapper .profile_wrapper .profile_box .profile_table td:nth-child(7n + 1) {
  padding-left: 1rem;
}

.wrapper .profile_wrapper .profile_box .profile_table th:nth-child(7n + 7),
.wrapper .profile_wrapper .profile_box .profile_table td:nth-child(7n + 7) {
  padding: 0.5rem 1rem;
}

.wrapper .profile_wrapper .profile_box .profile_table .profile_thead {
  background-color: #9a2827;
  border-radius: 16px;
  color: white;
  font-weight: 700;
  font-size: 0.85rem;
}

.wrapper .profile_wrapper .profile_box .profile_table .profile_thead th {
  min-width: 100px;
  cursor: default;
  text-align: center;
}

.wrapper
  .profile_wrapper
  .profile_box
  .profile_table
  .profile_thead
  th:nth-child(1) {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.wrapper
  .profile_wrapper
  .profile_box
  .profile_table
  .profile_thead
  th:nth-child(7) {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.check {
  position: relative;
}

.check:hover .checks,
.checks:hover {
  display: grid;
}

.checks {
  position: absolute;
  top: 80%;
  border: 1px solid black;
  background-color: white;
  border-radius: 6px;
  color: #9a2827;
  z-index: 2;
  padding: 10px 15px;
  display: none;
  grid-template-columns: 1fr 1fr;
  text-align: right;
  gap: 10px;
}

.checks label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}

.wrapper
  .profile_wrapper
  .profile_box
  .profile_table
  td:not(:nth-child(7n + 1)) {
  text-align: center;
  color: black;
  font-weight: 500;
  font-size: 1rem;
}

.wrapper .profile_wrapper .profile_box .profile_table td:nth-child(7n + 1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  gap: 0.4rem;
}

.wrapper
  .profile_wrapper
  .profile_box
  .profile_table
  td:nth-child(7n + 1)
  span:nth-child(5n + 1) {
  color: black;
  font-weight: 700;
  font-size: 1rem;
}

.wrapper
  .profile_wrapper
  .profile_box
  .profile_table
  td:nth-child(7n + 1)
  span:nth-child(5n + 2) {
  color: black;
  font-weight: 400;
  font-size: 0.8rem;
}

.wrapper
  .profile_wrapper
  .profile_box
  .profile_table
  td:nth-child(7n + 1)
  span:nth-child(5n + 3) {
  color: black;
  font-style: italic;
  font-weight: 500;
  font-size: 0.8rem;
}

.wrapper
  .profile_wrapper
  .profile_box
  .profile_table
  td:nth-child(7n + 1)
  span:nth-child(5n + 4) {
  color: #9a2827;
  font-style: italic;
  font-weight: 700;
  font-size: 0.8rem;
}

.wrapper
  .profile_wrapper
  .profile_box
  .profile_table
  td:nth-child(7n + 1)
  span:nth-child(5n) {
  color: red;
  font-weight: 700;
  font-size: 0.8rem;
  margin: 0.4rem 0 -0.1rem 0;
}

/* .extra_span {
  color: #9a2827 !important;
  font-weight: 900 !important;
  font-size: 0.9rem !important;
  font-style: normal !important;
}
 */

.wrapper .profile_wrapper .profile_box .profile_table td:nth-child(7n + 2),
.wrapper .profile_wrapper .profile_box .profile_table td:nth-child(7n + 3) {
  color: #9a2827;
  font-weight: 900;
  font-size: 1.8rem;
}

.more_info {
  margin-left: 0.2rem;
}

.more_info:hover {
  cursor: pointer;
}

.more_info:hover + .card,
.card:hover {
  display: block;
}

.card {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 100%;
  background-color: #fff;
  z-index: 2;
  border-radius: 6px;
  padding: 0.4rem 0.6rem;
  width: max-content;
  border: solid 2px #7e1918;
}

.wrapper .profile_wrapper .profile_box .profile_table td:nth-child(7n + 4),
.wrapper .profile_wrapper .profile_box .profile_table td:nth-child(7n + 5) {
  font-weight: 700;
  font-size: 1.1rem;
}

.wrapper .profile_wrapper .footer {
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.4rem 0;
  text-align: center;
  background: #9a2827;
  color: white;
  font-weight: 700;
  font-size: 1rem;
}

.foot {
  position: absolute;
  width: 4rem;
  left: 50vw;
  bottom: 0.8rem;
}

.btn_div {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-align: center;
  background-color: #9a2827;
  color: white;
  font-weight: 700;
}

.btn_div:hover {
  background-color: #7e1918;
}

.disappear {
  animation: disappear 0.4s ease-out;
}

.appear {
  animation: appear 0.4s ease-in;
}

@media screen and (min-width: 1500px) {
  .profile_img {
    margin-right: 1rem !important;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
