@mixin flex-box($dir: "row") {
  display: flex;
  flex-direction: $dir;
  justify-content: space-between;
  align-items: center;
}

@mixin font($col, $fwt, $fsz) {
  color: $col;
  font-weight: $fwt;
  font-size: $fsz;
}

@mixin white-bg {
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.wrapper {
  .profile_wrapper {
    @include flex-box(column);
    gap: 1.5rem;
    margin: 6rem 10vw 4rem 10vw;

    .profile_section {
      @include flex-box();
      align-items: stretch;
      gap: 1rem;

      .profile_grid {
        gap: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .profile_personal {
          grid-column: 1 / span 2;
          @include white-bg();
          @include flex-box();
          justify-content: center;
          padding: 1.5rem;
          gap: 1rem;

          .profile_img {
            height: 6rem;
          }

          .profile_text {
            width: 20vw;
            @include font(#333333, 400, 0.9rem);

            .profile_name {
              @include font(#9a2827, 700, 1.2rem);
              margin-bottom: 1rem;
            }

            .profile_edit {
              margin-top: 0.5rem;
              @include font(#9a2827, 600, 0.8rem);
            }
          }
        }

        .profile_btn {
          padding: 1rem;
          width: 100%;
          cursor: pointer;
          border-radius: 8px;
          text-align: center;
          background-color: #9a2827;
          @include font(white, 700, 1.1rem);
        }
      }

      .profile_feats {
        gap: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .profile_feat {
          cursor: pointer;
          @include flex-box();
          @include white-bg();
          @include font(#9a2827, 600, 1rem);
          padding: 0 2rem;
          justify-content: center;
        }
      }
    }

    .profile_box {
      .profile_head {
        @include font(#9a2827, 600, 1.2rem);
        margin: 2rem 0 1rem 0;
      }

      .profile_bodygrid {
        display: grid;
        width: 80vw;
        gap: 1rem;
        grid-template-columns: auto auto;

        .profile_body {
          @include white-bg();
          @include flex-box(column);
          align-items: flex-start;
          gap: 0.5rem;
          padding: 1rem 2rem;

          .profile_topic {
            @include font(black, 600, 1rem);
          }

          .profile_time {
            @include font(#333333, 400, 0.8rem);
          }
        }
      }

      .profile_table {
        border-spacing: 0;
        width: 90vw;

        th,
        td {
          padding: 0.5rem 0;

          &:nth-child(5n + 1) {
            width: 45vw;
          }
        }

        .profile_thead {
          background-color: #9a2827;
          border-radius: 16px;
          @include font(white, 600, 0.85rem);

          th {
            text-align: center;
            cursor: default;

            &:nth-child(1) {
              border-top-left-radius: 8px;
              border-bottom-left-radius: 8px;
            }

            &:nth-child(5) {
              border-top-right-radius: 8px;
              border-bottom-right-radius: 8px;
            }
          }

          img {
            margin-left: 0.3rem;
            height: 0.7rem;
          }
        }

        td {
          &:not(:nth-child(5n + 1)) {
            text-align: center;
            @include font(black, 500, 1rem);
          }

          &:nth-child(5n + 1) {
            @include flex-box(column);
            align-items: flex-start;
            gap: 0.4rem;

            span:nth-child(4n + 1) {
              @include font(black, 600, 1rem);
            }
            span:nth-child(4n + 2),
            span:nth-child(4n + 3) {
              @include font(black, 400, 0.8rem);
            }
            span:nth-child(4n) {
              @include font(#9a2827, 600, 0.8rem);

              &.true {
                display: block;
              }
              &.false {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1500px) {
  .profile_thead img {
    margin-left: 0.5rem !important;
  }

  .profile_img {
    margin-right: 1rem !important;
  }
}
