/* COMMON */

.wrapper {
  min-height: 100vh;
}

.wrapper * {
  font-family: "Jost", sans-serif !important;
}

.flex,
.section,
.top,
.sectionTop,
.overviewTop > div,
.overviewMiddle > div,
.overviewBottom > div,
.overviewBottom > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 2rem;
}

.heading {
  font-size: 1.1rem;
  font-weight: 600;
}

.section {
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
}

.sectionTop,
.sectionBottom {
  width: 100%;
}

.sectionTop {
  justify-content: space-between;
}

.sectionButton {
  border-radius: 8px;
  padding: 0 10px;
  font-weight: 500;
  color: var(--primary);
  background-color: transparent;
  border: 1px solid var(--primary);
}

.sectionButton:hover {
  background-color: var(--primary) !important;
  color: white !important;
}

/* TOPBAR  */

.top {
  justify-content: space-between;
  gap: 10px;
}

.topInput,
.topButton {
  height: 35px;
  border-radius: 10px;
}

.topButton {
  background: var(--primary);
}

.topButtonCircle {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.topButton:hover {
  background-color: var(--primary-dark) !important;
}

/* OVERVIEW */

.overviewTop,
.overviewMiddle,
.overviewBottom > div {
  gap: 10px;
  width: 100%;
  display: grid;
  font-size: 15px;
  font-weight: 500;
  grid-template-columns: 1fr 1fr 1.4fr 1.2fr;
  justify-content: space-between;
}

.overviewTop > div,
.overviewMiddle > div {
  gap: 12px;
  padding: 15px;
  border-radius: 15px;
  flex-direction: column;
  justify-content: flex-start;
}

.overviewTop > div {
  min-width: max-content;
  justify-content: center;
}

.overviewTop > div:last-child {
  font-size: 14px;
}

.overviewTopCircle {
  width: 40px;
  height: 40px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  background-color: #7891c6;
  border-radius: 50%;
}

.overviewMiddle > div {
  background-color: #f1f1f1;
}

.overviewMiddle > div > div:first-child {
  font-weight: 600;
}

.overviewBottom {
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.overviewBottom > div:nth-child(1) {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.overviewBottom > div:nth-child(2) {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.overviewBottom > div > div {
  gap: 10px;
  padding: 10px;
  background: #f7f7f7;
  box-shadow: 0px 0px 4px #615252;
  border-radius: 12px;
}

.overviewBottom > div > div > div:first-child {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(250, 189, 129, 0.36);
}

.overviewBottom > div > div > div > span:first-child {
  font-size: 16px;
  font-weight: 700;
}

/* PUBLICATIONS */

.publicationTitle {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 16px;
}

.publicationAuthors {
  color: var(--primary);
}

.publicationGrid {
  display: grid;
  align-items: center;
  text-align: left;
  grid-template-columns: auto auto;
  min-width: max-content;
  gap: 10px;
}

.publicationButton {
  background-color: var(--primary);
}

.publicationButton:hover {
  background-color: var(--primary-dark) !important;
}

/* SIDEBAR */

.sideWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 18vw;
  background-color: var(--primary);
}

.sideProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.sideImage {
  border-radius: 50%;
  margin: 2rem 0 1rem 0;
}

.sideName {
  font-weight: 500;
}

.sideContent,
.sideContent > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.sideContent {
  gap: 10px;
}

.sideCircle {
  background-color: white;
  border-radius: 50%;
  display: block;
  height: 5px;
  width: 5px;
}

.sideButton {
  background-color: var(--primary);
  border-radius: 15px;
  margin: 1rem 0;
  border: 1px solid white;
}

.sideButton:hover {
  background-color: var(--primary-dark) !important;
}

/* MEDIA QUERIES */

@media screen and (min-width: 1800px) {
  .overviewTop,
  .overviewMiddle,
  .overviewBottom {
    gap: 20px;
    font-size: 20px;
  }

  .overviewTop > div,
  .overviewMiddle > div,
  .overviewBottom > div {
    gap: 16px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 1rem;
  }

  .overviewTop,
  .overviewMiddle,
  .overviewBottom {
    grid-template-columns: 1fr 1fr;
  }

  .overviewBottom {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
