.wrapper .uploading_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin: 6rem 10vw 2rem 10vw;
}

.wrapper .uploading_wrapper .uploading_head {
  color: #9a2827;
  font-weight: 700;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.wrapper .uploading_wrapper .uploading_flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.wrapper .uploading_wrapper .uploading_flex .uploading_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  align-items: flex-start;
}

.wrapper .uploading_wrapper .uploading_flex .uploading_info .uploading_title {
  color: #333333;
  font-weight: 400;
  font-size: 0.8rem;
}

.wrapper .uploading_wrapper .uploading_flex .uploading_info .uploading_box {
  border: 1px solid #d4d4d4;
  width: 80vw;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  color: black;
  font-weight: 400;
  font-size: 0.9rem;
}

.wrapper .uploading_wrapper .uploading_flex .uploading_info .uploading_select {
  padding: 0;
}

.uploading_select > div {
  width: 100%;
  cursor: pointer !important;
  border: none !important;
  padding: 0rem !important;
}

.wrapper .uploading_wrapper .uploading_btns {
  display: flex;
  flex-direction: "row";
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.uploading_btns div {
  color: #9a2827;
  font-weight: 700;
  font-size: 1.2rem;
  border: 2px solid #9a2827;
  cursor: pointer;
  border-radius: 8px;
  padding: 0.8rem 1.8rem;
}

.uploading_btns .uploading_btn2 {
  background-color: #9a2827;
  color: white;
  display: inline;
}

.uploading_btns .uploading_btn1:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.uploading_btns .uploading_btn2:hover {
  background-color: #7e1918;
}

.dots {
  height: 6px;
  scale: 0.6;
  padding: 0.5rem 0rem !important;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, #fff 90%, #0000) 0 /
    calc(100% / 3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: dotLoader 1s steps(4) infinite;
}

@keyframes dotLoader {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}

@media screen and (min-height: 1000px) {
  .uploading_wrapper {
    gap: 3rem !important;
  }

  .uploading_wrapper .uploading_head {
    gap: 0.5rem !important;
  }

  .uploading_wrapper .uploading_info {
    gap: 1rem !important;
  }
}

@media screen and (min-width: 1599px) {
  .uploading_wrapper {
    gap: 2rem !important;
  }
}
