.wrapper .upload_section {
  margin: 5rem 10vw 0 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: "row";
          flex-direction: "row";
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .upload_section .upload_left {
  border: 1px dashed #9a2827;
  padding: 2.2rem 0;
  gap: 1rem;
  width: 50vw;
  border-radius: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .upload_section .upload_left .upload_img {
  height: 4rem;
  width: 4rem;
}

.wrapper .upload_section .upload_left .upload_title {
  color: #9a2827;
  font-weight: 600;
  font-size: 3rem;
}

.wrapper .upload_section .upload_left .upload_msg {
  color: #9a2827;
  font-weight: 400;
  font-size: 1.1rem;
}

.wrapper .upload_section .upload_left .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: "row";
          flex-direction: "row";
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.4rem 0;
  gap: 1rem;
}

.wrapper .upload_section .upload_left .label .upload_input1 {
  display: none;
}

.wrapper .upload_section .upload_left .label .upload_text {
  color: #9a2827;
  font-weight: 700;
  font-size: 1.1rem;
}

.wrapper .upload_section .upload_left .upload_input2 {
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  width: 30vw;
  padding: 0.6rem 1.4rem;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
}

.wrapper .upload_section .upload_left ::-webkit-input-placeholder {
  color: #333333;
  font-weight: 400;
  font-size: 1rem;
}

.wrapper .upload_section .upload_left :-ms-input-placeholder {
  color: #333333;
  font-weight: 400;
  font-size: 1rem;
}

.wrapper .upload_section .upload_left ::-ms-input-placeholder {
  color: #333333;
  font-weight: 400;
  font-size: 1rem;
}

.wrapper .upload_section .upload_left ::placeholder {
  color: #333333;
  font-weight: 400;
  font-size: 1rem;
}

.wrapper .upload_section .upload_right {
  gap: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(25vw - 2rem);
}

.wrapper .upload_section .upload_right .upload_filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 2rem;
}

.wrapper .upload_section .upload_right .upload_filters .upload_filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  gap: 0.8rem;
}

.wrapper .upload_section .upload_right .upload_filters .upload_filter .heading {
  color: #333333;
  font-weight: 500;
  font-size: 0.9rem;
}

.wrapper .upload_section .upload_right .upload_filters .upload_filter .option {
  padding: 1rem;
  width: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: "row";
          flex-direction: "row";
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
}

.wrapper .upload_section .upload_right .upload_filters .upload_filter .option .down_arr:hover {
  color: black;
}

.wrapper .upload_section .upload_right .upload_filters .upload_filter .option .down_arr,
.wrapper .upload_section .upload_right .upload_filters .upload_filter .option span {
  color: #666666;
  font-weight: 400;
  font-size: 0.8rem;
}

.wrapper .upload_section .upload_right .upload_btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.upload_btn {
  padding: 1rem 2rem;
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
  cursor: pointer;
  background: #9a2827;
  border-radius: 8px;
}

@media screen and (min-height: 1000px) {
  .upload_left {
    gap: 2rem !important;
    padding: 3rem 0 !important;
  }
  .upload_right {
    gap: 5rem !important;
  }
  .upload_right .upload_filters {
    gap: 2.5rem !important;
  }
  .upload_right .upload_filters .upload_filter {
    gap: 1.5rem !important;
  }
}

@media screen and (min-width: 1400px) {
  .upload_left {
    gap: 1.5rem !important;
    padding: 2.5rem 0 !important;
  }
}

@media screen and (min-width: 1400px) {
  .wrapper {
    margin-top: 8rem;
  }
  .wrapper .upload_left {
    gap: 2rem !important;
    padding: 3rem !important;
  }
  .wrapper .upload_left .upload_input2 {
    width: 25vw !important;
    padding: 0.9rem 2rem !important;
  }
  .wrapper .upload_right {
    gap: 6rem !important;
  }
  .wrapper .upload_right .upload_filters {
    gap: 3rem !important;
  }
  .wrapper .upload_right .upload_filters .upload_filter {
    gap: 1.5rem !important;
  }
}

@media screen and (max-width: 1200px) {
  .upload_left {
    gap: 1.4rem !important;
  }
  .upload_left .upload_img {
    height: 3rem !important;
    width: 3rem !important;
  }
  .upload_left .upload_title {
    font-size: 2.6rem !important;
  }
  .upload_left .label .upload_btn {
    padding: 0.7rem 1.4rem !important;
  }
  .upload_left .upload_input2 {
    padding: 0.7rem 1.2rem !important;
  }
}
/*# sourceMappingURL=Upload.module.css.map */