.wrapper {
  height: 100vh;
}

.wrapper .upload_wrapper {
  gap: 2rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: center;
}

.wrapper .upload_wrapper .upload_left {
  gap: 1rem;
  width: 100%;
  padding: 3rem;
  flex-direction: column;
  border-radius: 32px;
  border: 1px dashed #9a2827;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .upload_wrapper .upload_left .upload_title {
  color: #9a2827;
  font-weight: 700;
  font-size: 3rem;
}

.wrapper .upload_wrapper .upload_left .upload_msg {
  color: #9a2827;
  font-weight: 400;
  font-size: 1.1rem;
}

.wrapper .upload_wrapper .upload_left .label {
  display: flex;
  flex-direction: "row";
  justify-content: space-between;
  align-items: center;
  margin: 1.4rem 0;
  gap: 1rem;
}

.wrapper .upload_wrapper .upload_left .label .upload_input1 {
  display: none;
}

.wrapper .upload_wrapper .upload_left .label .upload_text {
  color: #9a2827;
  font-weight: 700;
  font-size: 1.1rem;
}

.wrapper .upload_wrapper .upload_left .upload_input2 {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;

  width: 45vw;
  height: 40px;
  margin-right: 1rem;
  font-size: 0.9rem;
  border-radius: 6px;
  padding: 0.6rem 1.4rem;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.24);
}

.wrapper .upload_wrapper .upload_left .upload_input2:focus {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.3);
}

.wrapper .upload_wrapper .upload_left ::-moz-placeholder {
  color: #333333;
  font-weight: 400;
  font-size: 0.9rem;
}

.wrapper .upload_wrapper .upload_left :-ms-input-placeholder {
  color: #333333;
  font-weight: 400;
  font-size: 0.9rem;
}

.wrapper .upload_wrapper .upload_left ::placeholder {
  color: #333333;
  font-weight: 400;
  font-size: 0.9rem;
}

.wrapper .upload_wrapper .upload_right {
  gap: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: calc(25vw - 2rem);
}

.wrapper .upload_wrapper .upload_right .upload_filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.wrapper .upload_wrapper .upload_right .upload_filters .upload_filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  width: 100%;
  gap: 0.8rem;
}

.wrapper .upload_wrapper .upload_right .upload_filters .upload_filter .heading {
  color: #333333;
  font-weight: 500;
  font-size: 0.9rem;
}

.wrapper .upload_wrapper .upload_right .upload_filters .upload_filter .option {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: "row";
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}

.wrapper
  .upload_wrapper
  .upload_right
  .upload_filters
  .upload_filter
  .option:hover {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
}

.select > div {
  width: 100%;
  cursor: pointer !important;
  border: none !important;
  padding: 0.3rem !important;
}

.wrapper
  .upload_wrapper
  .upload_right
  .upload_filters
  .upload_filter
  .option
  .down_arr:hover {
  color: black;
}

.wrapper
  .upload_wrapper
  .upload_right
  .upload_filters
  .upload_filter
  .option
  .down_arr,
.wrapper
  .upload_wrapper
  .upload_right
  .upload_filters
  .upload_filter
  .option
  span {
  color: #666666;
  font-weight: 400;
  font-size: 0.8rem;
}

.wrapper .upload_wrapper .upload_right .upload_btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.upload_btn {
  padding: 0.8rem 1.6rem;
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 8px;
  background: #9a2827;
}

.upload_btn:hover {
  background-color: #7e1918;
}

.upload_btn2 {
  color: #9a2827;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  border: 2px solid #9a2827;
  border-radius: 8px;
  padding: 0.8rem 1.6rem;
}

.upload_btn2:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.flex .upload_btn {
  padding: 0.5rem 0.8rem;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
}

.dots {
  z-index: 0;
  height: 6px;
  margin: 0.43rem;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, #fff 90%, #0000) 0 /
    calc(100% / 3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: dotLoader 1s steps(4) infinite;
}

@keyframes dotLoader {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}

@media screen and (min-height: 1000px) {
  .upload_left {
    gap: 2rem !important;
    padding: 3rem 0 !important;
  }

  .upload_right {
    gap: 5rem !important;
  }

  .upload_right .upload_filters {
    gap: 2.5rem !important;
  }

  .upload_right .upload_filters .upload_filter {
    gap: 1.5rem !important;
  }
}

@media screen and (min-width: 1400px) {
  .upload_left {
    gap: 1.5rem !important;
    padding: 2.5rem 0 !important;
  }
}

@media screen and (min-width: 1400px) {
  .wrapper .upload_left {
    gap: 2rem !important;
    padding: 3rem !important;
  }

  .wrapper .upload_left .upload_input2 {
    width: 25vw !important;
    padding: 0.9rem 2rem !important;
  }

  .wrapper .upload_right {
    gap: 6rem !important;
  }

  .wrapper .upload_right .upload_filters {
    gap: 3rem !important;
  }

  .wrapper .upload_right .upload_filters .upload_filter {
    gap: 1.5rem !important;
  }
}

@media screen and (max-width: 1200px) {
  .upload_left {
    gap: 1.4rem !important;
  }

  .upload_left .upload_title {
    font-size: 2.6rem !important;
  }

  .upload_left .label .upload_btn {
    padding: 0.62rem 1.25rem !important;
  }

  .upload_left .upload_input2 {
    padding: 0.7rem 1.2rem !important;
  }
}
