.wrapper .upload_wrapper {
  margin: 6rem 10vw 0 10vw;
  display: flex;
  flex-direction: "row";
  justify-content: space-between;
  align-items: center;
}

.wrapper .upload_wrapper .upload_left {
  border: 1px dashed #9a2827;
  padding: 2.2rem 0;
  gap: 1rem;
  width: 50vw;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.wrapper .upload_wrapper .upload_left .upload_img {
  height: 4rem;
  width: 4rem;
}

.wrapper .upload_wrapper .upload_left .upload_title {
  color: #9a2827;
  font-weight: 600;
  font-size: 3rem;
}

.wrapper .upload_wrapper .upload_left .upload_msg {
  color: #9a2827;
  font-weight: 400;
  font-size: 1.1rem;
}

.wrapper .upload_wrapper .upload_left .label {
  display: flex;
  flex-direction: "row";
  justify-content: space-between;
  align-items: center;
  margin: 1.4rem 0;
  gap: 1rem;
}

.wrapper .upload_wrapper .upload_left .label .upload_input1 {
  display: none;
}

.wrapper .upload_wrapper .upload_left .label .upload_text {
  color: #9a2827;
  font-weight: 700;
  font-size: 1.1rem;
}

.wrapper .upload_wrapper .upload_left .upload_input2 {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 30vw;
  padding: 0.6rem 1.4rem;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
}

.wrapper .upload_wrapper .upload_left .upload_input2:focus {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
}

.wrapper .upload_wrapper .upload_left ::-moz-placeholder {
  color: #333333;
  font-weight: 400;
  font-size: 1rem;
}

.wrapper .upload_wrapper .upload_left :-ms-input-placeholder {
  color: #333333;
  font-weight: 400;
  font-size: 1rem;
}

.wrapper .upload_wrapper .upload_left ::placeholder {
  color: #333333;
  font-weight: 400;
  font-size: 1rem;
}

.wrapper .upload_wrapper .upload_right {
  gap: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: calc(25vw - 2rem);
}

.wrapper .upload_wrapper .upload_right .upload_filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.wrapper .upload_wrapper .upload_right .upload_filters .upload_filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  width: 100%;
  gap: 0.8rem;
}

.wrapper .upload_wrapper .upload_right .upload_filters .upload_filter .heading {
  color: #333333;
  font-weight: 500;
  font-size: 0.9rem;
}

.wrapper .upload_wrapper .upload_right .upload_filters .upload_filter .option {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: "row";
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}

.wrapper
  .upload_wrapper
  .upload_right
  .upload_filters
  .upload_filter
  .option:hover {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
}

.select > div {
  width: 100%;
  cursor: pointer !important;
  border: none !important;
  padding: 0.3rem !important;
}

.wrapper
  .upload_wrapper
  .upload_right
  .upload_filters
  .upload_filter
  .option
  .down_arr:hover {
  color: black;
}

.wrapper
  .upload_wrapper
  .upload_right
  .upload_filters
  .upload_filter
  .option
  .down_arr,
.wrapper
  .upload_wrapper
  .upload_right
  .upload_filters
  .upload_filter
  .option
  span {
  color: #666666;
  font-weight: 400;
  font-size: 0.8rem;
}

.wrapper .upload_wrapper .upload_right .upload_btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.upload_btn {
  padding: 0.8rem 1.6rem;
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
  cursor: pointer;
  background: #9a2827;
  border-radius: 8px;
  align-self: flex-start;
}

.upload_btn:hover {
  background-color: #7e1918;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.flex .upload_btn{
  padding: 0.5rem 0.8rem;
  display: inline;
}

@media screen and (min-height: 1000px) {
  .upload_left {
    gap: 2rem !important;
    padding: 3rem 0 !important;
  }

  .upload_right {
    gap: 5rem !important;
  }

  .upload_right .upload_filters {
    gap: 2.5rem !important;
  }

  .upload_right .upload_filters .upload_filter {
    gap: 1.5rem !important;
  }
}

@media screen and (min-width: 1400px) {
  .upload_left {
    gap: 1.5rem !important;
    padding: 2.5rem 0 !important;
  }
}

@media screen and (min-width: 1400px) {
  .wrapper {
    margin-top: 8rem;
  }

  .wrapper .upload_left {
    gap: 2rem !important;
    padding: 3rem !important;
  }

  .wrapper .upload_left .upload_input2 {
    width: 25vw !important;
    padding: 0.9rem 2rem !important;
  }

  .wrapper .upload_right {
    gap: 6rem !important;
  }

  .wrapper .upload_right .upload_filters {
    gap: 3rem !important;
  }

  .wrapper .upload_right .upload_filters .upload_filter {
    gap: 1.5rem !important;
  }
}

@media screen and (max-width: 1200px) {
  .upload_left {
    gap: 1.4rem !important;
  }

  .upload_left .upload_img {
    height: 3rem !important;
    width: 3rem !important;
  }

  .upload_left .upload_title {
    font-size: 2.6rem !important;
  }

  .upload_left .label .upload_btn {
    padding: 0.62rem 1.25rem !important;
  }

  .upload_left .upload_input2 {
    padding: 0.7rem 1.2rem !important;
  }
}
